*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgb(7, 182, 167), rgb(2, 116, 97));
    height: 100vh;
}
.form {
    background-color: white;
    width: 350px;
    height: 430px;
    border-radius: 5px;
}

.form{
    box-shadow: black 5 8;
    position: absolute; 
    margin: auto;
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0;
}
.signup{
    text-align: center;
    font-family: Helvetica;
    padding-top: 25px;
}

.form> div{
    padding-top: 30px;
    font-family:sans-serif;
    padding-left: 40px;
    padding-right: 40px;

}

#username{
    padding: 10px;
    width: 250px;
    margin-top: 10px;
    outline: none;
    
}
#password{
    padding: 10px;
    width: 250px;
    margin-top: 10px;
    outline: none;
    
}
.stay-sign-in input{
    font-family:sans-serif;
    


}
.stay-sign-in a{
    text-decoration: none;
    margin-left: 40px;
    font-size: 13px;
    color: teal;
}

.button-signin button{
    color: white;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background-color: rgb(0, 172, 172);
    border-radius: 5px;
    width: 270px;
    padding: 15px;
    position: absolute; 
    margin: auto;
    left: 0; 
    right: 0; 
    
}
button:hover{
    background-color:rgb(4, 163, 163) ;
}

hr{
    margin-top: 20px;
}

